* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}
header.header {
    width: 100%;
    min-height: 50px;
    padding: 25px 0;
    background-color: #eee;
}
.layout-positioner {
    width: 1024px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
}
.layout-positioner:after,
.layout-positioner:before {
    content: " ";
    display: block;
    clear: both;
}
/* main header logo  */
main {
    overlay: hidden;
}
main:before,
main:after {
    content: " ";
    display: block;
    clear: both;
}
.main-header-logo {
    width: 24%;
    height: auto;
    float: left;
}
.main-header-logo .logo {
    display: block;
    width: 50%;
    height: auto;
}
.main-header-logo img {
    width: 100%;
    height: auto;
}
/* main menu  */
nav.menu {
    width: 64%;
    float: left;
}
.menu .header-nav {
    list-style: none;
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;
}
.menu li {
    display: inline;
    margin-right: 15px;
    padding: 5px 15px;
    vertical-align: middle;
}
.menu .header-nav a {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}
.menu .active a {
    border-bottom: 2px solid #fb565a;
}
.menu li:hover a {
    color: #d6494d;
}
/* shopping cart  */
.main-header-shopping-cart {
    width: 12%;
    float: left;
}
.main-header-shopping-cart a {
    display: block;
    margin-top: 20px;
    font-weight: 500;
    color: inherit;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
}
.main-header-shopping-cart a:hover {
    color: #d6494d;
}
.main-header-shoppng-cart .fa {
    vertical-align: middle;
}

/* СЛАЙДЕР */
.container {
    width: 70%;
    margin: 0 auto;
}

.slider {
    position: relative;
    overflow: hidden;
    text-align: left;
}

.slider-container {
    width: 300%;
}

.slider-item {
    float: left;
    min-height: 310px;
    min-width: 100%;
}

.slider-left-column {
    float: left;
    padding-top: 30px;
}

.slider-column-design {
    width: 45%;
}

.slider-column-math,
.slider-column-drugs {
    width: 55%;
}

.slider-title {
    margin-bottom: 19px;
}

.slider-info {
    margin-bottom: 29px;
    color: #283136;
}

.slider-column-drugs .slider-title {
    width: 45%;
}

.slider-right-column {
    float: right;
    width: 40%;
}

.slider-right-column .slider-figure {
    float: right;
}

.slider-math-figure {
    margin-right: 10px;
}

.slider-drugs-figure {
    position: absolute;
    bottom: 0px;
}

.slider-design-figure {
    position: absolute;
    top: 10px;
}

.slider-math-figure,
.slider-design-figure,
.slider-drugs-figure,
.offer-item-image,
.detail-header-image,
.brand-item {
    line-height: 0;
}

.btn {
    display: inline-block;
    vertical-align: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #fb565a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #d6494d;
}

.btn:active {
    background-color: #b63538;
    box-shadow: inset 0 3px 0 0 #9b2d30;
}

.slider-btn {
    padding-left: 70px;
    padding-right: 70px;
}

.catalog-range-filter {
    text-transform: uppercase;
}
/* services section styles  */
.services {
    width: 100%;
    height: auto;
    margin-top: -20px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #fff;
}
/*
.services:after {
    content: " ";
    display: inline-block;
    width: 1024px;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #eee;
}
*/
.services .service {
    float: left;
    width: 30%;
    height: inherit;
    margin-right: 5%;
}
.services .service:last-child {
    margin-right: 0;
}
.services .service_image {
    width: 100%;
    margin-bottom: 10px;
}
.service_image img {
    width: 100%;
    height: auto;
}
.services .service_heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    margin: 20px 0px;
    text-transform: uppercase;
}
.services .service_caption {
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0 20px;
}
.service .service_button {
    width: 45%;
    display: block;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    background-color: #fb565a;
    transition: 0.4s;
}
.websites .service_button:hover {
    background: #d6494d;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
}
.websites .service_button:active {
    background-color: #b63538;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
}
.apps .service_button {
    background-color: #00ca74;
}
.apps .service_button:hover {
    background-color: #01a25e;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
}
.apps .service_button:active {
    background-color: #009053;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
}
.pres .service_button {
    background-color: #efc84a;
}
.pres .service_button:hover {
    background-color: #d6ae2c;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
}
.pres .service_button:active {
    background-color: #c09b24;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
}
/* content styles  */
.content {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
/*
.content:after {
    content: " ";
    display: inline-block;
    width: 1024px;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #eee;
}
*/
.content_header {
    width: 100%;
}
.content .content_header:after {
    content: " ";
    display: block;
    clear: both;
}
.content_header .content_title {
    float: left;
    width: 65%;
    margin-right: 5%;
}
.content_title .title {
    width: 100%;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.content_title .info {
    width: 100%;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 20px;
}
.content_header .content_logo {
    float: right;
    width: 30%;
    text-align: right;
}
.content_logo-img {
    width: 90%;
    height: 75px;
    background: url("../img/main-header-logo.png") no-repeat center right;
    vertical-align: middle;
    margin-bottom: 30px;
}

.content_logo span:before, 
.content_logo span:after {
    width: 40px;
    height: 2px;
    display: inline-block;
    content: " ";
    line-height: 18px;
    vertical-align: middle;
    background-color: #eee;
}
span:before {
    margin-right: 10px;
}
span:after {
    margin-left: 10px;
}
.content_logo span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    margin-right: 35px;
}
.content_col-1 {
    float: left;
    width: 55%;
    margin-right: 5%;
}
.content_col-2 {
    float: left;
    width:35%;
    margin-left: 5%;
}
.content_column h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
}
.content_column p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
}
.content_column p:before {
    display: inline-block;
    content: " ";
    width: 15px;
    height: 2px;
    margin-right: 10px;
    line-height: 14px;
    vertical-align: middle;
    background-color: #fb565a;
}
/* clients section styles  */
.clients {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #fff;
}
.clients:after {
    content: " ";
    display: block;
    width: 1024px;
    height: 2px;
    background-color: #eee;
    margin: 0 auto;
    margin-top: 30px;
}
.clients_column {
    width: 30%;
    float: left;
    margin-right: 5%;
}
.clients_column:last-child {
    margin-right: 0;
}
.client-1 {
    display: block;
    background: url("../img/brand-academy.png") no-repeat center;
}
.client-2 {
    display: block;
    background: url("../img/brand-borodinski.png") no-repeat center;
}
.client-3 {
    display: block;
    background: url("../img/brand-glukhanko.png") no-repeat center;
}
.clients  a {
    width: 90%;
    height: 100px;
    display: block;
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    opacity: 0.7;
    transition: 0.5s;
}
.clients a:hover {
    opacity: 0;
}
/* contacts section styles  */
.contacts {
    position: relative;
    width: 100%;
    height: 415px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #fff;
    background: url("../img/map.jpg") no-repeat center;
}
.contacts:after {
    display: block;
    content: " ";
    clear: both;
}
/*
.contacts_map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
} */
.contacts_feedback {
    position: absolute;
    top: 100px;
    left: 250px;
    width: 250px;
    min-height: 250px;
    padding: 20px;
    background: #fff;
}
.feedback_header {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.feedback_address,
.feedback_phone {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 25px;
}
.feedback_button {
    width: 90%;
    margin: 10px  auto;
}
.feedback_button a {
    display: block;
    padding: 10px 30px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background-color: #fb565a;
    transition: 0.4s;
}
.feedback_button:hover a {
    background: #d6494d;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
}
.feedback_button a:active {
    background-color: #b63538;
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
}
.footer {
   width: 100%;
   height: 200px;
   padding: 30px 0;
   vertical-align: middle;
   background-color: #fff;
}
.footer_social {
    width: 35%;
    margin-right: 5%;
    float: left;
}
.footer_invite {
    width: 60%;
    float: right;
}
.footer_social .btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
    color: #fff;
    background-color: #ccc;
    border-radius: 50%;
    transition: 0.5s;
}
.footer_social .btn:hover {
    background-color: #f5464b;
}
.footer_invite .invite_text > strong {
    display: block;
    margin-top: 0;
    margin-bottom: 14px;
    padding: 0;
    font-weight: 500;
    font-size: 36px;
}
.footer_invite .invite_text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
}
